<!-- Start Hero -->
<section class="relative table w-full py-20 lg:py-24 bg-gray-100 dark:bg-slate-800">
    <div class="container relative">
        <div class="grid grid-cols-1 mt-14">
            <h3 class="text-3xl leading-normal font-semibold">Checkout</h3>
        </div>
        <!--end grid-->

        <div class="relative mt-3">
            <ul class="tracking-[0.5px] mb-0 inline-block">
                <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-indigo-600"><a href="index-shop.html">Techwind</a></li>
                <li class="inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                <li class="inline-block uppercase text-[13px] font-bold text-indigo-600" aria-current="page">Checkout</li>
            </ul>
        </div>
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- End Hero -->

<!-- Start -->
<section class="relative md:py-24 py-16">
    <div class="container">
        <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 gap-[30px]">
            <div class="lg:col-span-7">
                <div class="p-6 rounded-md shadow dark:shadow-gray-800">
                    <h3 class="text-xl leading-normal font-semibold">Billing address</h3>

                    <form action="/orders/create_payment_url?cartId={{cartItems.id}}" method="POST">
                        <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
                            <div class="lg:col-span-12">
                                <label class="form-label font-semibold"> Ricipent : <span class="text-red-600">*</span></label>
                                <input type="text" value="{{userProfile.name}}" class="form-input w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 mt-2" placeholder="Recipent's Name:"
                                    id="recipient" name="recipient" required="">
                            </div>

                            <div class="lg:col-span-12">
                                <label class="form-label font-semibold">Recipient Phone Number : <span class="text-red-600">*</span></label>
                                <input type="text" value="{{userProfile.phone}}" class="form-input w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 mt-2" placeholder="Phone Number"
                                    name="phone" required="">
                            </div>

                            <div class="lg:col-span-12">
                                <label class="form-label font-semibold">Address : <span class="text-red-600">*</span></label>
                                <input type="text" value="{{userProfile.address}}" class="form-input w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 mt-2" placeholder="Address:"
                                    id="address" name="address" required="">
                            </div>
                        </div>
                        <h3 class="text-xl leading-normal font-semibold mt-6">Payment</h3>
                        <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
                            <div class="lg:col-span-12">
                                <div class="block">
                                    <div>
                                        <label class="inline-flex items-center">
                                                <input type="radio" class="form-radio border-gray-200 dark:border-gray-800 text-indigo-600 focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50 me-2" name="radio-colors" value="1" checked>
                                                <span class="text-slate-400">Credit card</span>
                                            </label>
                                    </div>
                                </div>

                                <div class="block mt-2">
                                    <div>
                                        <label class="inline-flex items-center">
                                                <input type="radio" class="form-radio border-gray-200 dark:border-gray-800 text-indigo-600 focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50 me-2" name="radio-colors" value="1">
                                                <span class="text-slate-400">Debit Card</span>
                                            </label>
                                    </div>
                                </div>

                                <div class="block mt-2">
                                    <div>
                                        <label class="inline-flex items-center">
                                                <input type="radio" class="form-radio border-gray-200 dark:border-gray-800 text-indigo-600 focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50 me-2" name="radio-colors" value="1">
                                                <span class="text-slate-400">PayPal</span>
                                            </label>
                                    </div>
                                </div>
                            </div>

                            <div class="lg:col-span-12">
                                <label class="form-label font-semibold">Total ammount : <span class="text-red-600"></span></label>
                                <input type="text" class="form-input w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 mt-2" placeholder="Name:"
                                    id="amount" name="amount" required="" value="{{total}}" readonly>
                            </div>
                        </div>
                        <div class="mt-4">
                            <input type="submit" class="py-2 px-5 mt-20 inline-block tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md w-full" value="Checkout">
                        </div>
                    </form>
                </div>
            </div>
            <!--end col-->

            <div class="lg:col-span-5">
                <div class="p-6 rounded-md shadow dark:shadow-gray-800">

                    <div class="flex justify-between items-center">
                        <h5 class="text-lg font-semibold">Your Cart</h5>
                    </div>

                    <div class="mt-4 rounded-md shadow dark:shadow-gray-800">
                    {{#each cartItems.items}}
                        <div class="p-3 flex justify-between items-center border border-gray-100 dark:border-gray-800">
                            <td class="p-4">
                                <span class="flex items-center">
                                    <img src="{{this.product.images.[0]}}" class="rounded shadow dark:shadow-gray-800 w-12" alt="{{this.name}}">
                                    <span class="ms-3">
                                        <span class="block font-semibold">{{this.product.name}}</span>
                                        <p class="text-sm text-slate-400">Size: {{this.size}}</p>
                                    </span>
                                </span>
                            </td>

                            <span class="bg-indigo-600 flex justify-center items-center text-white text-[10px] font-bold px-2.5 py-0.5 rounded-full h-5">x{{this.quantity}}</span>

                            <p class="text-slate-400 font-semibold">$ {{this.product.price}}</p>
                        </div>
                    {{/each}}

                        <div class="p-3 flex justify-between items-center border border-gray-100 dark:border-gray-800">
                            <div>
                                <h5 class="font-semibold">Subtotal (USD)</h5>
                            </div>

                            <p class="font-semibold">$ {{subtotal}}</p>
                        </div>

                                                <div class="p-3 flex justify-between items-center border border-gray-100 dark:border-gray-800">
                            <div>
                                <h5 class="font-semibold">Shipping (USD)</h5>
                            </div>

                            <p class="font-semibold">$ {{taxes}}</p>
                        </div>

                        {{!-- <div class="p-3 flex justify-between items-center border border-gray-100 dark:border-gray-800 bg-gray-50 dark:bg-slate-800 text-green-600">
                            <div>
                                <h5 class="font-semibold">Promo code</h5>
                                <p class="text-sm text-green-600">EXAMPLECODE</p>
                            </div>

                            <p class="text-red-600 font-semibold">-$ 10</p>
                        </div> --}}

                        <div class="p-3 flex justify-between items-center border border-gray-100 dark:border-gray-800">
                            <div>
                                <h5 class="font-semibold">Total (USD)</h5>
                            </div>

                            <p class="font-semibold">$ {{total}}</p>
                        </div>
                    </div>

                    {{!-- <div class="subcribe-form mt-6">
                        <form class="relative max-w-xl">
                            <input type="email" id="subcribe" name="email" class="py-4 pe-40 ps-6 w-full h-[50px] outline-none text-black dark:text-white rounded-full bg-white dark:bg-slate-900 shadow dark:shadow-gray-800" placeholder="Promo code">
                            <button type="submit" class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center absolute top-[2px] end-[3px] h-[46px] bg-indigo-600 hover:bg-indigo-700 border border-indigo-600 hover:border-indigo-700 text-white rounded-full">Redeem</button>
                        </form>
                        <!--end form-->
                    </div> --}}
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end grid-->
    </div>
    <!--end container-->
</section>
<!--end section-->